<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form id="loginForm" accept-charset="UTF-8">
    <fieldset>
        <div data-role="fieldcontain">
            <label for="user">
                <input type="text" name="User" id="user" value=""/>
            </label>
        </div>
        <div data-role="fieldcontain">
            <label for="pass">
                <input type="text" name="Pass" id="pass" value=""/>
            </label>
        </div>

        <input type="button" id="btn_con" onclick="login;" value="Connexion"/>
        <input type="button" id="btn_tst" onclick="test;" value="Test"/>
        <input type="button" id="btn_goo" onclick="alert('click')" value="Google"/>
        <script src="login.js"></script>
    </fieldset>
</form>
</body>
</html>